section {
  background-color: #FF7616;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1004px) {
  section {
    justify-content: flex-end;
    padding: 0 10dvh;
  }
}

.home .poster {
  position: absolute;
  top: 0;
  left:0;
  margin: 0;
  padding: 0;
  height: 100dvh;
  object-fit: cover;
}

.home .content {
  width: 800px;
  max-width: 80dvw;
  min-height: 100dvh;
  padding: 10dvh 0;

  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.home .info .logo {
  height: 200px;
}

.home .info .description {
  text-align: justify;
  color: #000;
}

.home .info .button {
  align-self: center;
}

.home .dvds-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}