@import "tailwindcss";

@font-face {
  font-family: Mori;
  src: url(assets/PPMori-Regular.otf);
}

:root {
  font-family: Mori, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 0 !important;
  max-width: 100dvw !important;
}

.glass {
  @apply bg-blue-500;
/*   background-color: rgba(255,255,255,0.13);
  border: 1px solid rgba(255,255,255,0.17); */
  backdrop-filter: blur(37px);
  border-radius: 2px;
}

.button {
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
}

/* FORM */
.form-item{
  position: relative;
  margin-top: 20px;
}
input {
  border-bottom: 2px solid #fff;
  outline: none;
}
input::placeholder{
  opacity: 0; 
  transition: opacity 200ms ease;
}
label {
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
/*   top: 0px; 
  font-size: medium;
*/
  top: -18px;
  font-size: small;
  transition: top 200ms ease-out;
}

.form-item:has(input:focus) label,
.form-item.filled label{
  top: -18px;
  font-size: small;
}

.form-item:has(input:focus) input::placeholder{
  opacity: 1; 
}
