@import "tailwindcss";

@font-face {
  font-family: Mori;
  src: url(assets/PPMori-Regular.otf);
}

:root {
  font-family: Mori, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 0 !important;
  max-width: 100dvw !important;
}

.glass {
  background-color: rgba(255,255,255,0.13);
  border: 1px solid rgba(255,255,255,0.17);
  backdrop-filter: blur(37px);
  border-radius: 2px;
}

.button {
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
}