@import "tailwindcss";

@font-face {
  font-family: Mori;
  font-weight: normal;
  src: url(assets/PPMori-Regular.otf);
}

@font-face {
  font-family: Mori;
  font-weight: bold;
  src: url(assets/PPMori-SemiBold.otf);
}

:root {
  font-family: Mori, sans-serif;
  line-height: 1.5;
  @apply bg-gray-900 text-gray-100;
}

h2 {
  @apply font-bold uppercase;
}

.glass {
  @apply bg-gray-200/15 backdrop-blur border-gray-200/20 border-1 rounded;
}

.button {
  @apply py-2 px-4 flex cursor-pointer uppercase items-center gap-2;
}

.form-item {
  @apply relative mt-4;

  & input {
    @apply border-b-2 border-white outline-none;
  }

  & input::placeholder {
    @apply opacity-0 transition-opacity;
  }

  & label {
    @apply pointer-events-none absolute uppercase top-0 text-lg transition-all;
  }

  &:has(input:focus) label,
  &:has(input:not(:placeholder-shown)) label {
    @apply top-[-18px] text-base;
  }

  &:has(input:focus) input::placeholder{
    @apply opacity-100;
  }
}